
<nav class="navbar logo   fixed-top">
  <a class="navbar-brand " href="/">
    <div class=" ms-5 d-flex align-items-center py-auto">
      <p class="x">Z</p> 
      <p class="time">odiac</p><br>
   <span class="text-white fs-6">Watches</span>    
  </div>
     
  </a>
  <button id="searchBtn">
    <i class="bi bi-search text-xl text-white hover:text-turquoise"></i>
  </button>
  <input type="checkbox" id="toggler" />
  <label for="toggler"><i class="ri-menu-line me-4 mb-5 text-secondary"></i></label>
  <div class="menu me-3 ">
      <ul class="list">
          <li><a href="/">Home</a></li>
          <li><a href="/products">Shop</a></li>
          <li><a href="/about">About</a></li>
  
    <li>  <a class="nav-link dropdown-toggle href="#" role="button"
          data-bs-toggle="dropdown" aria-expanded="false">
          Account
      </a>
      <div class="dropdown-menu dropdown-menu-end" data-bs-theme="dark">
        <a class="dropdown-item" href="/login">Already have an Account? Sign In</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/register">New around here? Sign up</a>
  </div>
</li>
      </ul>
  </div>
  </div>
</nav>



