<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %> 
<body>

    <% if(user){ %> 
        <%- include('../partials/user/user-navbar') %>
        <% }else{ %>
        <%- include('../partials/user/guest-navbar') %>
        <% } %> 

    <div class="orderSuccess  m-auto"></div>      
    <lottie-player src="https://assets5.lottiefiles.com/packages/lf20_rz0hyab1.json"  background="transparent"  speed="1" class="mx-auto"  style="width: 500px; height: 500px;"  loop  autoplay></lottie-player>
    <div class="d-flex justify-contents-center align-items-center m-auto py-5"><a href="/home" class="btn btn-outline-dark btn-lg btn mx-auto text-decoration-none ">Go back</a>
</div>
</div>
  
    <%- include('../partials/user/footer.ejs') %> 
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
</body>
</html>