<div class="sidebar  position-fixed start-0">
    <div class="vh-100  row row-cols-1 d-flex flex-column justify-content-center align-items-center g-2 bg-black">
        <div class="col py-4 text-center">
            <a class="text-decoration-none text-white" href="/admin/home">Dashboard</a>
        </div>
        <div class="col py-4 text-center ">
            <a class="text-decoration-none text-white" href="/admin/products">products</a>
        </div>
        <div class="col py-4 text-center">
            <a class="text-decoration-none  text-white" href="/admin/users">Users</a>
        </div>
        <div class="col py-4 text-center">
            <a class="text-decoration-none fw-bold text-white" href="/admin/category">Category</a>
        </div>
        <div class="col py-4 text-center">
            <a class="text-decoration-none  text-white" href="/admin/Coupons">Coupons</a>
        </div>
        <div class="col py-4 text-center">
            <a class="text-decoration-none    text-white" href="/admin/banners">Banners</a>
        </div>
    </div>